@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Audiowide|Comfortaa');
@import "products";
@import "carts";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Comfortaa', cursive;
}

body > .container{
  padding: 60px 0;
}
h1, h2, h3, h4 {
font-family: 'Audiowide', cursive;
}
#sidebar {
  margin-top: 69px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding: 0 15px;
}
.footer > .container .text-muted {
  margin: 20px 0;
}
.text-muted span {
  font-size: 80%
}
// .panel-default{
//   border-color: #DCDCDC;
// }
//

//
// .panel-primary {
//   border-color: #337ab7;
// }
//
// .panel-heading{
//   color: #6495ED;
//   border-color: #DCDCDC;
// }
//
// .panel-head {
//   padding: 10px;
//   border-bottom: 1px solid;
//   border-top-left-radius: 3px;
//   border-top-right-radius: 3px;
// }
//
// .panel-title {
//     margin-top: 0;
//     margin-bottom: 0;
//     font-size: 16px;
//     color: inherit;
// }
//
