@import "bootstrap-sprockets";
@import "bootstrap";

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
// .panel-default{
//   border-color: #DCDCDC;
// }
//
.panel {
  margin-bottom: 20px;
  background-color: #D3D3D3;
  border: 1px;
  border-radius: 4px;
  min-height: 300px;
}
//
// .panel-primary {
//   border-color: #337ab7;
// }
//
// .panel-heading{
//   color: #6495ED;
//   border-color: #DCDCDC;
// }
//
// .panel-head {
//   padding: 10px;
//   border-bottom: 1px solid;
//   border-top-left-radius: 3px;
//   border-top-right-radius: 3px;
// }
//
// .panel-title {
//     margin-top: 0;
//     margin-bottom: 0;
//     font-size: 16px;
//     color: inherit;
// }
//
