h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.panel {
  margin-bottom: 20px;
  background-color: #D3D3D3;
  border: 1px;
  border-radius: 4px;
  min-height: 300px;
}
