<h1> Kaasfabriek Products</h1>

<br>

  <% @products.each do |product| %>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= product.name %></h3>
          <div class="panel-body">
          <p><%= product.shortdescription %></p>
          <P><%= product.price %></p>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <%= link_to "Product Details", product, class: "btn btn-primary" %>
    </div>
  </div>





  <br>
<% end %>
