<h1> Kaasfabriek Products</h1>

<div class="container">
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class= "panel-heading"><h3><%= product.name %></h3></div>
        <%= product.shortdescription %>
        <P><%= product.price %></p>
        </div>  
        <%= link_to "Product Details", product, class: "btn btn-primary" %>

    </div>
  <% end %>
</div>
</div>