<h1><%= @product.name %></h1>

<div class="row" style="background-color: lightgrey;">
  <div class="col-md-6">
    <%= image_tag @product.photos.first.image.show_view, class: "img-thumbnail" %>
  </div>
  <div class="col-md-6">
    <p><%= @product.shortdescription %></p>
    <%= link_to "Buy me", add_to_cart_path(@product.id), method: :post %>
  </div>
</div>
